---
import MainLayout from "./MainLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"personal-projects"> | CollectionEntry<"studies">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const frontmatter = entry.data;

// 날짜 포맷 함수
const formatDate = (date: Date) => {
  return new Date(date).toLocaleDateString("ko-KR", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <article class="prose">
    <h3>{frontmatter.title}</h3>
    <div class="post-meta">
      {
        frontmatter.date && (
          <span>
            작성일:{" "}
            <time datetime={frontmatter.date.toISOString()}>
              {formatDate(frontmatter.date)}
            </time>
          </span>
        )
      }
      {
        frontmatter.publishDate && (
          <span>
            작성일:{" "}
            <time datetime={frontmatter.publishDate.toISOString()}>
              {formatDate(frontmatter.publishDate)}
            </time>
          </span>
        )
      }
    </div>

    <Content />
  </article>
</MainLayout>
